body {
	background-image: url('dbbg.jpg');
	background-color: silver;
	font-family: sans-serif;
	width: 100%;
}

nav{
	width: 25%;
	position: absolute;
}

#level_title {
	font-family: "Gungsuh";
	font-size: 45px;
	color: black;		
	font-weight: bold;
	margin-left: auto;
}

#level_image {
	position: absolute;
	height: 500px;
	width: auto;
}

div.image{
	width: 75%;
	height: auto;
}

div.container{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
main {
	display: flex;
	flex-direction: row;
}
button{
	display: block;
	margin: 20px;
	width: 200px;
	height: 60px;
}


/* images */

table{
	display: flex;
	flex-direction: row;
}


img.intro_goku{
	margin-top: 20px;
	margin-left: 300px;
	height: 430px;
	width: auto;
	position: absolute;
	z-index: 2;
}

img.intro_talk{
	position: absolute;
	height: 400px;
	width: auto;
	margin-left: 450px;
	z-index: 2;
	margin-top: 100px;
}

img.master_roshi{
	height: 50px;
	width: auto;
	z-index: 1;
	position: absolute;
	left: 400px;
	bottom: 200px;
}

img.db1{
	position: absolute;
	z-index: 1;
	height: 7px;
	width: auto;
	left: 680px;
	top: 150px;
}

img.db2{
	position: absolute;
	z-index: 1;
	height: 7px;
	width: auto;
	top: 365px;
	left: 130px;
}

img.db3{
	position: absolute;
	z-index: 1;
	height: 7px;
	width: auto;
	top: 365px;
	left: 130px;
}

img.db4{
	position: absolute;
	z-index: 1;
	height: 7px;
	width: auto;
	top: 365px;
	left: 400px;
}

img.db5{
	position: absolute;
	z-index: 1;
	height: 7px;
	width: auto;
	top: 150px;
	left: 250px;
}

img.db6{
	position: absolute;
	z-index: 1;
	height: 7px;
	width: auto;
	top: 365px;
	left: 130px;
}

img.db7{
	position: absolute;
	z-index: 1;
	height: 7px;
	width: auto;
	top: 295px;
	right: 480px;
}

img.dbtable{
	height: 20px;
	width: auto;
	padding-left: 10px;
}